$w1: 100%;
$w2: 800px;
$w3: 300px;
$w4: 30%;
$w5: 70%;
$w6: 120px;
$w7: 80px;
$w8: 80%;
$w9: 90%;
$w10: 130px;
$w11: 50%;
$h1: 100vh;
$h2: 600px;
$h3: 350px;
$h4: 70px;
$h5: 450px;
$h6: 400px;
$h7: 380px;
$h8: 50px;
$s1: 22px;
$s2: 15px;
$s3: 17px;
$s4: 12px;
$s5: 25px;
$s6: 20px;
$s7: 14px;